.formContainer {
    width: 450px;
    height: 9cm;
    margin: 50px auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
    text-align: center; 
}

.Email {
    margin-bottom: 15px;
    text-align: left;
}

.Password {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}


.input {
    width: 90%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: content-box;
}

.remember-forgot {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    gap: 15px; 
    margin-top: 10px; 
}

.remember-forgot label {
    font-size: 14.5px;
    color: #333;
    margin-right: auto;
}

.remember-forgot a {
    text-decoration: none; 
    font-size: 14.5px; 
    color: #14b314;
    margin: 0; 
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.icon{
    translate: 0 -50%;
    position: absolute;
    top: 20%;
}

.icon1{
    translate: 0 -50%;
    position: absolute;
    top: 31%;
}

.loginBtn {
    display: inline-block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #008000;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    text-transform: none;
}

.loginBtn:hover {
    background-color: #044f04;
}
